
LOGIN = 'lcmdemoadmin@gooddata.com'
PASSWORD = 'Put password here'
TOKEN =  'Put token here'
DOMAIN = 'lcmdemo'
FQDN = 'https://secure.gooddata.com'
HOSTNAME = 'secure.gooddata.com'
MASTERPROJECT1 = 'ka5uo2z1q1k3u07qulvj1250qxojazg9'
